<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastrar Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [value]="dateValue2"></ion-input>
    <ion-button fill="clear" id="open-date-input-2">
      <ion-icon icon="calendar"></ion-icon>
    </ion-button>
    <ion-popover trigger="open-date-input-2" show-backdrop="false">
      <ng-template>
        <ion-datetime #popoverDatetime2 presentation="date"
          (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>
  <ion-item>
    <ion-select [(ngModel)]="idTimeCasa" okText="Confirma" cancelText="Cancela">
      <ion-select-option *ngFor="let time of times" [value]="time.idtime">{{time.nome}}</ion-select-option>
    </ion-select>
    <ion-input type="number" [(ngModel)]="golsCasa" min="0" max="30"></ion-input>
    X
    <ion-input type="number" [(ngModel)]="golsFora" min="0" max="30"></ion-input>
    <ion-select [(ngModel)]="idTimeFora" okText="Confirma" cancelText="Cancela">
      <ion-select-option *ngFor="let time of times" [value]="time.idtime">{{time.nome}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Elenco do Jogo
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Jogadores</ion-label>
      <ion-select multiple="true" cancelText="Cancela" okText="Ok" [(ngModel)]="elencoJogo">
        <ion-select-option [value]="{jogador: jogador.nome, gols: 0}" *ngFor="let jogador of jogadores">{{jogador.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let elenco of elencoJogo">
    <ion-item>
      <ion-label style="width: 80%;">{{elenco.jogador}}</ion-label>
      <ion-input style="width: 20%;" type="number" min="0" max="30" [(ngModel)]="elenco.gols"></ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-button (click)="inserirResultado()">Gravar</ion-button>
  </ion-item>

</ion-content>