<ion-header>
  <ion-toolbar>
    <ion-title>Fute Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form action="">

    <br>
    <div style="text-align: center;">
      <img src="../../assets/img/login.jpg" style="display: flexbox;" class="login" alt="">
    </div>
    <!--<ion-avatar class="login">
      <ion-img src="../../assets/img/login.jpg"></ion-img>
    </ion-avatar>-->

    <br>
    <br>

    <ion-item class="margens">
      <ion-label stacked> E-mail</ion-label>
      <ion-input type="E-mail"></ion-input>
    </ion-item>
    <br>
    <ion-item class="margens">
      <ion-label stacked> Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <br><br>
    <section>
      <ion-button size="large" expand="block" (click)="login()">Entrar</ion-button>
      <ion-button size="large" expand="block" outline>Registrar</ion-button>
      <!--<ion-button size="large"  expand="block">teste</ion-button>-->
    </section>

  </form>

</ion-content>