<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Elenco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion [value]="jogador.nome" *ngFor="let jogador of jogadores">
      <ion-item slot="header">
        <ion-label>{{ jogador.numero + ' - ' + jogador.nome}}
        </ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>Nome</ion-label>
          <ion-note slot="end" color="secondary">{{jogador.nome}}</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Idade</ion-label>
          <ion-note slot="end" color="secondary">jogador.idade</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Camisa</ion-label>
          <ion-note slot="end" color="secondary">{{jogador.numero}}</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Gols Marcados</ion-label>
          <ion-note slot="end" color="secondary">8</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Craque do Jogo</ion-label>
          <ion-note slot="end" color="secondary">0</ion-note>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<!--<ion-content>
  <ion-list>
    <ion-item *ngFor="let jogador of jogadores">
      <ion-label>{{ jogador.numero + ' - ' + jogador.nome}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>-->